
/docs/ @asitha @indikasampath2000 @samgnaniah

CODEOWNERS @asitha @indikasampath2000 @isudana @nandika @kasun04

/templates/ @IrushiL
/vscode/extension/ @IrushiL
/vscode/snippet-generator/ @nipunich
/docs/doc-generator @pramodya1994
/tools/ @milindaperera
