
/docs/ @asitha @indikasampath2000 @samgnaniah

ROADMAP.md @asitha @indikasampath2000 @isudana @nandika @kasun04

CODEOWNERS @asitha @indikasampath2000 @isudana @nandika @kasun04

/templates/ @IrushiL
/vscode/extension/ @IrushiL
/vscode/snippet-generator/ @nipunich
/www/ @pramodya1994
/tools/ @milindaperera