<!DOCTYPE HTML>
<html>

<head>
	<title>Full Motion</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link href="{{"css/template-grid-page.css" | relURL}}" rel="stylesheet">
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>

<body id="top">

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="#">WSO2 Ballerina Integrator</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto"></ul>
			<form class="form-inline my-2 my-lg-0">
				<a href="/guides" class="nav-link" style="color: white">Guides</a>
				<a href="/integration-tutorials" class="nav-link" style="color: white">Tutorials</a>
			</form>
		</div>
	</nav>

	<!-- Main -->
	<div id="main">
		<div class="inner">
			<!-- Boxes -->
			<div class="thumbnails">
				{{ $currentNode := . }}
				{{ $showvisitedlinks := .Site.Params.showVisitedLinks }}
				{{if eq .Site.Params.ordersectionsby "title"}}
				{{range .Site.Home.Sections.ByTitle}}
				{{ template "template-grid" dict "sect" . "currentnode" $currentNode "showvisitedlinks" $showvisitedlinks}}
				{{end}}
				{{else}}
				{{range .Site.Home.Sections.ByWeight}}
				{{ template "template-grid" dict "sect" . "currentnode" $currentNode "showvisitedlinks" $showvisitedlinks}}
				{{end}}
				{{end}}
			</div>
		</div>
	</div>

	<!-- Scripts -->
	<script src="{{"js/jquery-3.3.1.min.js"| relURL}}"></script>
	<script src="{{"js/jquery.poptrox.min.js"| relURL}}"></script>
	<script src="{{"js/skel.min.js"| relURL}}"></script>
	<script src="{{"js/util.js"| relURL}}"></script>
	<script src="{{"js/main.js"| relURL}}"></script>

</body>

<!-- templates -->
{{ define "template-grid" }}
{{ $showvisitedlinks := .showvisitedlinks }}
{{ $currentNode := .currentnode }}
{{with .sect}}
{{if .IsSection}}
	{{safeHTML .Params.head}}
	<span data-nav-id="{{.URL}}" title="{{.Title}}" class="dd-item
		{{if .IsAncestor $currentNode }}parent{{end}}
		{{if eq .UniqueID $currentNode.UniqueID}}active{{end}}
		{{if .Params.alwaysopen}}parent{{end}}
		">
		{{ $numberOfPages := (add (len .Pages) (len .Sections)) }}
		{{ if ne $numberOfPages 0 }}
			{{ if not (eq $currentNode.Type  "intro") }}
			{{ $currentNode.Scratch.Set "pages" .Pages }}
			{{ if .Sections}}
			{{ $currentNode.Scratch.Set "pages" (.Pages | union .Sections) }}
			{{end}}
			{{ $pages := ($currentNode.Scratch.Get "pages") }}

			{{if eq .Site.Params.ordersectionsby "title"}}
			{{ range $pages.ByTitle }}
			{{ if and .Params.hidden (not $.showhidden) }}
			{{else}}
			{{ template "template-grid" dict "sect" . "currentnode" $currentNode "showvisitedlinks" $showvisitedlinks }}
			{{end}}
			{{ end }}
			{{else}}
			{{ range $pages.ByWeight }}
			{{ if and .Params.hidden (not $.showhidden) }}
			{{else}}
			{{ template "template-grid" dict "sect" . "currentnode" $currentNode "showvisitedlinks" $showvisitedlinks }}
			{{end}}
			{{ end }}
			{{end}}
			{{end}}
		{{ end }}
	</span>
	{{else}}
		{{ if not .Params.Hidden }}
			{{ if (eq .Params.Type  "page") }}
				<div class="box" style="float:left; min-height: 380px">
					<a href="{{.RelPermalink}}" class="image fit"><img style="height:200px" src="{{.Params.Image}}" alt="" /></a>
					<div class="inner">
						<h3>{{.Title}}</h3>
						<h6>{{.Description}}</h6>
						<a href="{{.RelPermalink}}" class="button fit" data-poptrox="youtube,800x400">Go to template</a>
					</div>
				</div>
			{{end}}
		{{ end }}
	{{end}}
{{ end }}
{{ end }}

</html>
