
# Created by https://www.gitignore.io/api/ballerina,visualstudiocode
# Edit at https://www.gitignore.io/?templates=ballerina,visualstudiocode

### Ballerina ###
# Compiled class files
*.balx
*.class
.classpath

# Log files
*.log

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

# End of https://www.gitignore.io/api/ballerina,visualstudiocode
target/
.ballerina/
